{% extends 'base.html' %}

{% block head %}
<title>Todo</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if not_closed|length < 1 %}
    <h3 style="text-align: center">There are no task, create one below!</h>
    {% else %}
    <!-- Working Tasks Table -->
    <table>
        <tr>
            <th>Closed</th>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
            
        </tr>
        {% for task in tasks %}
                <tr>
                    {% if task.closed == 'No' %}
                    <td>{{ task.closed }}</td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                        <br>
                        <a href="/close/{{task.id}}">Close</a>
                    {% endif %}
                </tr>
        {% endfor %}
    </table>
    {% endif %}
       
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>

    {% if tasks|length > 0 %}
    <!-- Closed Tasks  Table-->
    <h1 style="text-align: center">Task Closed</h1>
    <table>
        <tr>
            <th>Closed</th>
            <th>Task</th>
            <th>Added</th>
            <th>Date Closed</th>
            <th>Actions</th>
            
        </tr>
        {% for task in tasks %}
                <tr>
                    {% if task.closed == 'Yes' %}
                    <td>{{ task.closed }}</td>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>{{ task.date_closed.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                        <br>
                        <a href="/close/{{task.id}}">Close</a>
                    {% endif %}
                    </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}
